@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

.header {
    padding: 30px 0;
    font-weight: 300;
    color: #ffffff;
    background-color: #6495ED;
    width: 100%;
    text-align: center;
    border-bottom: 10px solid lightblue;
    margin-bottom: 10px;
    font-family: 'Ranchers';
}